name: Test
on:
  push:
  pull_request: 
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6 # required
      - name: Run Regression Tests
        uses: Purdue-SoCET/RISC-V-CI@main # core usage
        with:
          context: .
          targets: | # List all FuseSoC Test Targets
            ls -al
            ls -al ..
            ls -alR /github
            make config
            make verilate