name: Test
on:
  push:
  pull_request: 
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3 # required
      - name: Run Regression Tests
        uses: Purdue-SoCET/RISC-V-CI@main # core usage
        with:
          targets: | # List all FuseSoC Test Targets
            mkdir -p ~/.ssh && ssh-keyscan github.com >>~/.ssh/known_hosts
            ./setup.sh
            make config
            make verilate
            riscv64-unknown-elf-gcc --version