name: Test
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request || contains(github.event.head_commit.message, 'BUILD') }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6 # required
      - name: Build the core
        uses: Purdue-SoCET/RISC-V-CI@main # core usage
        with:
          targets: |
            make config
            make verilate

  test-suite:
    name: PR Tests & Benchmarks
    if: ${{ github.event.pull_request || contains(github.event.head_commit.message, 'TEST') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6 # required
      - name: Run the regression tests
        uses: Purdue-SoCET/RISC-V-CI@main # core usage
        with:
          targets: |
            python3 -u run_tests.py --riscv-tests --num-harts 1
            python3 -u run_tests.py --riscv-tests --num-harts 2

  lint-pr:
    name: PR Linter
    if: ${{ github.event.pull_request }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: chipsalliance/verible-linter-action@main
      with:
        fail_on_error: true
        github_token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    name: Commit Linter
    if: ${{ !github.event.pull_request && contains(github.event.head_commit.message, 'LINT') }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: chipsalliance/verible-linter-action@main
      with:
        reviewdog_reporter: github-check
        fail_on_error: true
        github_token: ${{ secrets.GITHUB_TOKEN }}